<!DOCTYPE html>
<html>
<head>

  <title>JS Bin</title>

</head>
<body>


  <h1>nelisa Spaza Store</h1>
{{#key}}
<p> The {{description}} is {{product}}  : {{quantity}} </p>
{{/key}}
  
</body>
</html>
