<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <nav class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nelisa Store</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar";>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Statistics<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/sales/week1">week 1</a></li>
                <li><a href="/sales/week2">week 2</a></li>
                <li><a href="/sales/week3">week 3</a></li>
                <li><a href="/sales/week4">week 4</a></li>
              </ul>
            </li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <title>nelisa</title>
  </head>
  <body>
     {{{body}}}
  </body>
</html>
