<!DOCTYPE html>

<html lang="en">

 <head>

   <title>nelisa</title>

    <meta charset="utf-8">

    <title>Nelisa</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!-- .............................................................................. -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/css/mdb.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.1.1/js/mdb.min.js"></script>

<link rel="stylesheet" href=/CSS/style.css>
  <style>








.nav {
  margin-bottom: 0;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
background-color: transparent;
}



    .img-responsive {
      border: 4px solid blue;
      border-radius: 200px;
      margin: auto;
      text-align: center;
      color: black;
      position: center max-width: 100%;
      display: block;
      height: auto;
    }

    h1 {
      text-align: center;
      font-size: 75px;
      text-align: center;
    }
  </style>




  </head>



  <body>
    <!-- <img src="/img/nlisa2.jpg" alt="Mountain View" style="background:width:1920px;height:1080px;"> -->

    <nav id="navbarShadow" class="navbar navbar-inverse" >
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Nelisa Store</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Weekly Statistics<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/sales/week1">week 1</a></li>
                <li><a href="/sales/week2">week 2</a></li>
                <li><a href="/sales/week3">week 3</a></li>
                <li><a href="/sales/week4">week 4</a></li>
              </ul>
            </li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/products">Products</a></li>
              <li><a href="/sales">Sales</a></li>
              <li><a href="/purchases">Purchases</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>




     {{{body}}}

  </body>
</html>
