
<h1 class="area">Add Product</h1>

<form action="/products/add" method="POST">
	<div class="">
		<label for="">Category</label>

		<select class="" name="category_id">
			{{#categories}}
				<option value="{{id}}">{{description}}</option>
			{{/categories}}
		</select>
	</div>
   <!--  -->
	 <!--  -->
	<div>
		<label for="">Description</label>
		<input type="text" name="description"  placeholder="add products" value="{{description}}">
	</div>
<!--  -->
<!--  -->
	<!-- <div>
		<label for="">Amount</label>
		<input type="number" step="any" name="price" value="{{price}}">
	</div> -->
	<input class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign" type="submit">

	<select class="mdb-select colorful-select dropdown-primary">
	    <option value="1">Option 1</option>
	    <option value="2">Option 2</option>
	    <option value="3">Option 3</option>
	    <option value="4">Option 4</option>
	    <option value="5">Option 5</option>
	</select>
	<label>Blue select</label>
	<!--/Blue select-->



</form>
