<h1 class="area">Add category</h1>

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
        <div class="card">




					<!-- <div class="form-header dark-gradient"> -->
							<h3>Add Category:</h3>
					</div>

					<form action="/categories/add" method="POST">
						<div class="md-form">
					    <i class="fa fa-plus-square" aria-hidden="true"   style="color:lightblue;size:10px;text-shadow:2px 2px 4px #000000;"></i>
					    <input type="text" name="description" id="form6" class="form-control" placeholder="add category"  size="10">{{description}}</input>
					    <label for="form9" data-error="wrong" data-success="right"></label>

					<br></br>
							<input class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign" type="submit">
					</div>
        </div>
    </div>

    <div class="col-lg-3"></div>
</div>
