<h1 class="area">Add category</h1>

<form action="/categories/add" method="POST">
	  <!-- <i class="fa fa-plus-square" aria-hidden="true"></i>
	<label for="text" class="col-md-4 control-label">Description</label>
	<input type="text" name="description" class="form-control" id="inputEmail" data-success="right" placeholder="add category"> value="{{description}}">
	<input type="submit"> -->
<!-- <i class="fa fa-plus-square" aria-hidden="true"></i> -->
	<div class="form-inline">
		<h4>description<h4>
    <i class="fa fa-plus-square" aria-hidden="true"></i>
    <input type="text" name="description" id="form6" class="form-control" placeholder="add category"  size="8">{{description}}</input>
    <label for="form9" data-error="wrong" data-success="right"></label>


		<input class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign" type="submit">
</div>

<!-- type="submit"> -->


	        </div>

	      </div><!-- tab-content -->

	 </form>
	 form
	     .first-row
	       .wrap
	         input.fname(type='text' required autocomplete="off")
	         label(for='name' required) First Name
	       .wrap
	         input.lname(type='text' required autocomplete="off")
	         label(for='name' required) Last Name
	     .wrap
	       input.email(type='email' required autocomplete="off")
	       label(for='email' required) Email Address
	     .wrap
	       input.pass(type='password' required autocomplete="off")
	       label(for='password' required) Set A Password
	     .wrap
	       a.btn(type='button' href="") Sign Up
