<h1 class="area">Add category</h1>

<form action="/categories/add" method="POST">
	<label for="text" class="col-md-4 control-label">Description</label>
	<input type="text" name="description" class="form-control" id="inputEmail" placeholder="add category"> value="{{description}}">
	<input type="submit">



	<!-- <div class="row">
		<div class="col-sm-6 col-lg-4">
			<div class="form-group">
				<label for="inputEmail" class="col-md-4 control-label">likona:</label>
				<div class="col-md-8">
					<input type="likho" class="form-control" id="inputEmail" placeholder="likhona">
				</div> -->



</form>
