<h1 class="area">Categories</h1>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<!-- <td><a href="/categories/add"  class=" button Add_button" class="glyphicon glyphicon-edit" type="button">Add product</a></td> -->

<body class="fixed-sn graphite-skin">
<a href="/categories/add" type="button" id="add_button" class="btn btn-default-outline waves-effect"><i class="fa fa-plus" style="color:lightblue;text-shadow:2px 2px 4px #000000;"></i>
Add</a>

<!-- class="glyphicon glyphicon-plus-sign" -->
<div class="table-responsive" >

<table class="table">
  <thead>
    <tr id="colorTable">
      <th style=" text-shadow:0px 10px 7px black">categories</th>
    </tr>
  </thead>
  <tbody>
    {{#categories}}
      <tr id="Pagetable"  id="colorTable">
        <td id="colorTable" style="color:white; text-shadow:0px 10px 7px black"><strong>{{description}}
        </strong></td>
        <!-- <td><a href="/categories/edit/{{id}}" class="button Edit_button" type="button"><span class="glyphicon glyphicon-edit"></span>Edit product</a></td> -->

        <td><a href="/categories/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-lm"><span <i class="fa fa-trash" aria-hidden="true"></i></span> Edit</a></td>
<td><a href="/categories/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline waves-effect glyphicon glyphicon-trash">Delete</a></td>





      </tr>
    {{/categories}}

  </tbody>
</table>
</div>
</body>
