<h1 class="area">Edit user</h1>




<div class="row">
  <div class="col-lg-3"></div>

  <div class="col-lg-6">
    <div class="card">

      <div class="form-header blue-gradient">
        <h3><i class="fa fa-user"></i> Edit users:</h3>
      </div>

			<form action="/user/update/{{data.id}}" method="POST">
				<div class="">
					<label for="">Username</label>
					<input type="text" name="Username" value="{{data.username}}">
				</div>
				<input type="submit">
			</form>
    </div>
  </div>

  <div class="col-lg-3"></div>
</div>
