<h1 class="area">Edit user</h1>

<div class="row">
  <div class="col-lg-3"></div>

  <div class="col-lg-6">
    <div class="card">

      <div class="form-header blue-gradient">
        <h3><i class="fa fa-user"></i> Edit users:</h3>
      </div>

			<form action="/user/update/{{data.id}}" method="POST">

				<div class="md-form">
					<i class="fa fa-user prefix"></i>
					<label for="">Username</label>
					<input type="text" name="Username" id="form4" size='10' class="form-control" value="{{data.username}}"></div>

				<div class="md-form">
					<i class="fa fa-envelope prefix"></i>
					<label for="">Email</label>
					<input type="email" name="email" id="form4" size='10' class="form-control" value="{{data.email}}"></div>

				<!-- <div class="md-form">
				    <i class="fa fa-lock prefix"></i>
				    <input type="password" id="form4" name="password" placeholder="password" size="10"  class="form-control">
				    <label for="form4">user password</label>
				</div> -->

				<button class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign" type="submit">Sign Up</button>
			</form>
    </div>
  </div>

  <div class="col-lg-3"></div>
</div>
