<h1>Hello Nelisa</h1>


<h2>{{#if user}}

    Hello, {{user}}


{{/if}}</h2>

<!-- {{ user.is_admin}} -->



<!-- {{# if user.is_admin}} -->

<!-- <h3>you can see this if you are logged in</h3> -->


<a href="/logout">Logout</a>




<!-- <h3>Welcoming the users</h3> -->
