
<div class="row">
    <div class="col-lg-3"></div>

    <div class="col-lg-6">
        <div class="card">
          <div class="card">
              <div class="card-block">

                  <!--Header-->
                  <div class="form-header blue-gradient">
                      <h3><i class="fa fa-user"></i> Login:</h3>
                  </div>


                  <form class="md-form" action="/login" method="post">


                      <i class="fa fa-user prefix"></i>

                      <input type="text" id="form4" name="username" value="" placeholder="username" class="form-control">
                      <label for="form4">Your name</label>
                  </div>





                  <!-- <div class="md-form">
                      <i class="fa fa-envelope prefix"></i>
                      <input type="text" id="form2" class="form-control">
                      <label for="form2">Your email</label>
                  </div> -->
                  <div class="md-form">
                      <i class="fa fa-lock prefix"></i>
                      <input type="password" id="form4" class="form-control">
                      <label for="form4">Your password</label>
                  </div>
                  <div class="text-xs-center">

                    <!-- <input class="btn btn-default-outline waves-effect glyphicon glyphicon-plus-sign" type="submit"> -->
                    <button type="submit" name="name" value="login" class="submitUser">Login</button>


</form>


                      <hr>

                  </div>

              </div>
          </div>
        </div>
    </div>

    <div class="col-lg-3"></div>
</div>
