<h1 class="area">Products</h1>


<a href="/products/add" type="button" id="add_button" class="btn btn-primary-outline waves-effect glyphicon glyphicon-plus-sign">Add</a>


<div class="table-responsive">

<table class="table">
   <thead>
     <tr>
       <th  style="color:linen; text-shadow:0px 10px 7px black" >products name</th>
       <th  style="color:linen; text-shadow:0px 10px 7px black">Categories Name</th>
           </tr>
   </thead>
   <tbody>
      {{#products}}
     <tr id="Pagetable" id="colorTable">

       <td id="colorTable" style="color:linen; text-shadow:0px 10px 7px black"><strong>{{product_name}}</strong>
       </td>
       <td id="colorTable" style="color:linen; text-shadow:0px 10px 7px black"><strong>{{description}}</strong></td>

       <td><a href="/products/edit/{{id}}" type="button" id="edit_button" class="btn btn-success-outline waves-effect btn-sm">
         <span class="glyphicon glyphicon-edit"></span> Edit</a></td>

         <td><a href="/products/delete/{{id}}" type="button" id="delete_button" class="btn btn-danger-outline waves-effect glyphicon glyphicon-trash">Delete</a></td>

     </tr>

     <!-- <tr class="success">
     </tr> -->
       {{/products}}
   </tbody>



 </table>
</div>
